.letra {
  color: inherit;
  width: 40px;
  height: 40px;
  margin: 1px;
  margin-bottom: 7px;
  border-radius: 6px;
  font-family: 'Gill Sans', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  border: 2px solid #2980b9;
  caret-color: transparent;
}

.letra::selection {
  background: transparent
}

.formContainer {
  display: flex;
  flex-direction: row;
}

.jogo {
  border: 3px solid blue;
  margin: 50px;
  padding: 30px;
  align-content: center;
}

.bigdiv {
  display: flex;
  justify-content: center;
}
