.letra {
  width: 40px;
  height: 40px;
  margin: 1px;
  margin-bottom: 7px;
  border-radius: 6px;
  font-family: 'Gill Sans', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  align-content: center;
}

.jogo {
  border: 3px solid blue;
  margin: 50px;
  padding: 30px;
  align-content: center;
}
