<!DOCTYPE html>
<html>

  <head>
    <title>Mardito</title>
    <meta lang='pt-br'>
  </head>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/script.js'></script>

  <body>
    <nav>
      <a href='/'>Simples</a>
      <a href='/duplo'>Duplo</a>
      <a href='/quadruplo'>Quádruplo</a>
    </nav>

    <div class="bigdiv">
      <div class="flex-container">
        <div class='jogo' id='jogos'>
          <button onclick="obter_palavra_e_lista()">Iniciar</button>
        </div>
      </div>
    </div>
    <div>
      <button onclick=limpar()>Limpar</button>
    </div>

    <div class="popup" id="popup" class="flex_center">
      <h3>Não encontramos a palavra</h3>
      <h2 class='formContainer' id='palavra_ausente'></h2>
      <h3>no nosso banco de dados. Tem certeza que /n a palavra existe? Para inseri-la, verifique a palavra, preste atenção na acentuação, e clique em inserir se tiver certeza que a palavra está escrita corretamente.</h3>
      <button onclick="showPopup(palavra, false)">Inserir</button>
      <button onclick="showPopup(palavra, true)">Mudar palavra</button>
    </div>
  </body>

</html>
