<!DOCTYPE html>
<html>

  <head>
    <title>Luisito</title>
    <meta lang='pt-br'>
  </head>
  <link rel='stylesheet' href='./style.css'>
  <script src='./script.js'></script>

  <body>
    <nav>
      <a href='/'>Simples</a>
      <a href='/duplo'>Duplo</a>
      <a href='/quadruplo'>Quádruplo</a>
    </nav>

    <div class="bigdiv">
      <div class="flex-container">
        <div class='jogo' id='jogos'>
          <button onclick="iniciar()">Iniciar</button>
        </div>
      </div>
    </div>
    <div>
      <button onclick=limpar()>Limpar</button>
    </div>
    <div class="campoGrande" id="campogde">
      <div contenteditable="true" class='campo' id="campo1" style="width:40px; height:40px; position:relative">A
      </div>
      <div contenteditable="true" class='campo' id="campo2" style="width:40px; height:40px; position:relative">B
      </div>
    </div>
  </body>

</html>
